<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div>
                <form action="/products" method="POST">
                    <fieldset>
                        <legend>Add a New Product</legend>
                        <label>
                            Title:<input
                                type="text"
                                name="title"
                                placeholder="enter product title"
                                />
                        </label>
                        <label>
                            Type:<input
                                type="text"
                                name="type"
                                placeholder="enter product type"
                                />
                        </label>
                        <label>
                            Description:<input
                                type="text"
                                name="description"
                                placeholder="enter product type"
                                />
                        </label>
                        <label>
                            Image:<input
                                type="text"
                                name="image"
                                placeholder="enter image URL"
                                />
                        </label>
                        <label>
                            Price:<input
                                type="number"
                                name="image"
                                placeholder="enter product price"
                                />
                        </label>

                    </fieldset>
                    <input type="submit" value="Add New Product"
                </form>
            </div>
            <a href="/products/"><button>Back to Main</button></a>
        </main>
    </body>
</html>